
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

body{
    background-image: url('../imgs/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 100vh;
    padding-top: 80px;
}
.h1nav{
    color: black;
}
nav{
    background:linear-gradient(to right,#fa9107,#fcde38,#fa9107);
    /* background: linear-gradient(to right,#fa9107,#fa9107,#fa9107); */
    border-radius: 5px;
}
nav ul{
    list-style-type: none;
    display: flex;
    font-size: large;
    padding: 15px;
    margin: 15px;
    justify-content: center;
}
nav a{
    border: 2px transparent;
    color: black;
    border-radius: 5px;
    padding: 10px 10px;
    text-decoration: none;
}
nav a:hover{
    color: black;   
    background-color: #fa9107;
}
.card{
    margin: 5% 20%;
    background-color: #FDF5E6 ;
    box-shadow: 0 0 20px 0 black;
}
.card-header{
    background-color: #EDE6D6;
    color: #5C4033;}