{% extends 'Inicio/index.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="text text-center">Modificar</h2>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                {{ form.as_p}}
            </div>
            <button type="submit" class="btn btn-success border-dark">Guardar Cambios</button>
            <a class=" btn btn-dark" href="{% url 'Lista'%}">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}